[submodule "deps/eastl"]
	path = deps/eastl
	url = git://github.com/paulhodge/EASTL.git
[submodule "deps/oglplus"]
	path = deps/oglplus
	url = git://github.com/matus-chochlik/oglplus.git
[submodule "deps/glm"]
	path = deps/glm
	url = git://github.com/g-truc/glm.git
[submodule "deps/gli"]
	path = deps/gli
	url = git://github.com/g-truc/gli.git
[submodule "deps/chaiscript"]
	path = deps/chaiscript
	url = git://github.com/ChaiScript/ChaiScript.git
[submodule "deps/asio"]
	path = deps/asio
	url = git://github.com/chriskohlhoff/asio.git
[submodule "deps/picojson"]
	path = deps/picojson
	url = git://github.com/kazuho/picojson.git
